#mainContainer {
    margin: 20px;
    min-height: 400px;
}

header {
    background-color: #d5d7c7;
    padding-top: 20px;
}
.col > h1 {
    margin: auto;
    width: 100%;
    text-align: center;
}

.col > ul {
    margin: auto;
    width: 100%;
    text-align: center;
}

.responsivePic {
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

footer{
    margin-top: 20px;
    text-align: center;
    background-color: #d5d7c7;
}

table {
    margin: 20px;
}

nav {
    margin: auto;
    width: 100%;
    text-align: center;
}

ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.navButton{
    color: white;
}

a:hover {
    color: antiquewhite;
}


li {
    display: inline-block;
    margin-top: 20px;
}

a {
    margin-bottom:10px;
    margin-top:10px;
    background-color: #CB410A;
    border: none;
    color: white;
    padding: 15px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.linkButton {
    color: #CB410A;
    background-color: white;
    border: none;
    padding: 0px;
    text-align: center;
    text-decoration: none;
}

.linkButton:hover {
    color: brown;
}


h2, p {
    padding: 10px;
}

h1, h4{
    color: #CB410A;
}
