@{
    ViewBag.Title = "Index";
}
<h1>Hello!</h1>
<p>
    Welcome to my assignment this week. You can find the relevant information from the 
    assignment in the navigationbar above. The about, contact and project pages are 
    part of the first part of the assignment
</p>
<h3>Hope you have a good time browsing!</h3>